<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指定映射的包下的接口 -->
<mapper namespace="com.wordpython.admin.dao.UserMapper">
    <select id="findByUsername" parameterType="String" resultType="com.wordpython.admin.entity.User">
		select * from user where username=#{username}
	</select>
    <select id="selectUser" parameterType="User" resultType="User">
		select * from user where username=#{username} and password=#{password}
	</select>
    <insert id="insertUser" parameterType="User">
		insert into user(user_id,username,password,mail) values(#{user_id},#{username},#{password},#{mail})
	</insert>
    <update id="setStatus" parameterType="User">
		update user set status = #{status} where username = #{username}
	</update>
    <update id="setName" parameterType="User">
-- 		update user set(name,phone,idcard)=(select #{name},#{phone},#{idcard}) where username = #{username}
		update user set name=#{name},phone=#{phone},#{idcard} where username=#{username}
	</update>
    <update id="updatePassword" parameterType="User">
		update user set password =#{password}  where username=#{username};
	</update>
	<update id="updateUsername" parameterType="User">
		update user set username=#{username} where username=#{username}
	</update>
	<update id="updateMail" parameterType="User">
		update user set mail=#{mail} where username=#{username}
	</update>
	<update id="updatePhone" parameterType="User">
		update user set phone=#{phone} where username=#{username}
	</update>
	<update id="setBookingtimesAndLevel" parameterType="User">
		update user set bookingtimes=#{bookingtimes},level=#{level} where username=#{username}
	</update>
	<delete id="deleteUser" parameterType="User">
		delete from user where username=#{username}
	</delete>
    <select id="selectPartUser" parameterType="User" resultType="User">
        <!-- select * from users limit 5,10  检索记录行 6-15 -->
        select * from user
        <if test="start !=null and rows !=null">
            limit #{start},#{rows}
        </if>
    </select>
    <select id="selectUserCount" parameterType="Integer" resultType="Integer">
		select count(*) from user
	</select>
</mapper>